
.scrollToTop {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: var(--second-primary-color);
  color: white;
  border: none;
  padding: 12px;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.3s ease;
  z-index: 1000;
}

.scrollToTop:hover {
  transform: scale(1.1);
}
