.customButton {
    display: inline-block;
    padding: 12px 24px;
    background-color:var(--second-primary-color);
    color: #fff;
    border-radius: 25px;
    text-decoration: none;
    margin: 20px 0;
    font-weight: bold;
    border: none;
    font-size: 15px;
  }
  
  .customButton:hover {
    background-color: #00994d;
    opacity: 0.8;
  }
  

  .secondary {
    background-color: transparent;
    padding: 11px 24px;
    border: 1px solid var(--second-primary-color);
    color: white;
    border-radius:3px ;
    color: #EAEAEB;
  }
  .secondary:hover{
    background-color: var(--second-primary-color);
    color: black;
 
  }