.animated_line {
    position: relative;
    height: 4px;
    background-color:var(--second-primary-color); /* the base line color */
    width: 90px; /* adjust as needed */
    margin-top: 4px;
    overflow: hidden;
    border-radius: 2px;
  }
  
  .animated_line .dot {
    position: absolute;
    top: -4px;
    width: 10px;
    height: 12px;
    background-color: black;
    border-radius: 50%;
    animation: moveDot 4s linear infinite;
  }
  
  .top_me {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.top_me p {
  color: #dddddd;
  opacity: 0.6;
  font-size: 1.1rem;
  margin-bottom: 10px;
  padding-top: 30px;
}
.top_me h2 {
  font-size: 2.5rem;
  margin-bottom: 3px;
}

  @keyframes moveDot {
    0% {
      left: 0%;
    }
    100% {
      left: 100%;
    }
  }
  