.header {
  background-color: transparent;
  padding: 1rem 1.5rem;
  letter-spacing: 1px;
  position: sticky;
  top: 0px;
  z-index: 1;
    transition: padding 0.3s ease, background-color 0.3s ease;

}
.container {
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-weight: bold;
  font-size: 1.5rem;
  text-decoration: none;
  color: white;
  opacity: 0.9;
}
.logo span {
  color: #00ff7f;
}
.nav_list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.8rem;
}

/*  the hover effect*/
.nav_list li a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: white;
  padding-bottom: 1px;

  font-size: 18px;
  transition: color 0.1s ease;
  font-weight: 400;
  opacity: 0.9;
}

.nav_list li ::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: var(--primary-color-bright);
  transition: width 0.3s ease;
}
.nav_list li a.nav_link:hover::after {
  width: 60%;
}

.menu_icon {
  display: none;
  font-size: 1.8rem;
  color: white;
  cursor: pointer;
  z-index: 10;
}

.scrolled {
  background-color: #10141e; 
   padding: 0.2rem 1.5rem; 
}
/****  */

/* ** */
@media screen and (max-width: 768px) {
  .menu_icon {
    display: block;
  }
  .scrolled{
     padding: 0.8rem 1.5rem;
  }
  .nav {
    position: absolute;
    top: 90%;
    right: 40px;
    background-color: #10141e;
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 2rem 5rem 2rem 1.5rem;
    transition: all 0.3s ease;

    transition: max-height 0.4s ease-in-out;
  }
  .nav_list li a {
    text-decoration: none;
    color: white;
    padding-bottom: 2px;
    opacity: 1;
    font-size: 15px;
    font-weight: 400;
    opacity: 0.7;
  }

  .open {
    display: flex !important;
  }
  .nav_list {
    flex-direction: column;
    gap: 2rem;
  }
}
