.footer {
  background-color:#1E2735;
  color: #ccc;
  padding: 60px 20px 30px;
  font-family: 'Inter', sans-serif;
}

.container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 30px;
  align-items: center;
  justify-content: space-between;
}

.brand h2 {
  font-size: 1.8rem;
  color: white;
  margin-bottom: 10px;
}

.brand p {
  font-size: 0.9rem;
  color: #999;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.links a {
  text-decoration: none;
  color: #ccc;
  transition: color 0.3s ease;
}

.links a:hover {
  color: var(--second-primary-color);
}

.socials {
  display: flex;
  justify-content: start;
}

.footerStyle a {
  color: #ccc;
  font-size: 1.5rem;
  margin-right: 15px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.footerStyle a:hover {
  color: var(--second-primary-color);
  transform: scale(1.2);
}

.bottomBar {
  text-align: center;
  padding-top: 20px;
  font-size: 0.85rem;
  color: #666;
  border-top: 1px solid #516666;
  margin-top: 30px;
}
