:root {
  --second-primary-color: #00ff7f;
  
}

html, body {
  font-family: Poppins, sans-serif;
  color: #FFFFFF;
  background-color: #101010;
  margin: 0; 
  padding: 0;
}

::selection {
  background-color: #009E66;  
}
* {
  font-family: 'Poppins', sans-serif;
}