:root {
  --second-primary-color: hwb(159 0% 38%);
  ;
}

html, body {
  font-family: Poppins, sans-serif;
  color: #FFFFFF;
  background-color: #101010;
  margin: 0; 
  padding: 0;
}

::selection {
  background-color: #009E66;  
}